
html{
  scroll-behavior: smooth;
}
.body{
    background-repeat: no-repeat;
    background-color: #c2a083ce;
    
}

.header1{
    background-color: rgba(0, 0, 0, 0);
    
    width: 40cm;
    height: 3.6cm;
    object-fit: fill;
    position: relative;
    border-bottom: 4px;
    cursor: pointer;
    
}

.DBlogo{
    position: absolute;
    top: 1.4cm;
    left: 0.4cm;
    
 }
    
.header1db{
position: absolute !important;
top: 1.26cm;
left: 3.3cm;
font-family: Marck Script;
font-size: 27px;
margin-top: -10px;
}

/*hover menu-bar*/
.header1 li{
    position: relative;
    left: 23cm;
    top: 0.8cm;
    display: inline;
    padding-left: 1cm;
    width: 80px;
    font-family: Rosarivo;
    font-size: 20px;
}
.header1 li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.header1 li{
  display: inline-block;
  position: relative;
  top: 1.58cm;
  color: #000000;
  font-size: 100%;
}

.header1 li  :after {
  content: '';
  position: absolute;
  width: 106%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 30px;
  background-color: #000000;
  transition: transform 0.25s ease-out;
}

.header1 li :hover:after {
  transform: scaleX(0.75);
  transform-origin: bottom left;
}

.headerimage{
  position: absolute;
  width: 4cm;
  height: auto;
  left: 2.5cm;
  top: 1cm;
  border-radius: 3cm;
  
 }

 .headerimage2{
   position: absolute;
   top: 4.8cm;
   left: 4.5cm;
   
 }

 .headerbackground{
  background-color: rgba(24, 24, 22, 0.774);
  position: relative;
  display: flex;
  top: 0.2cm !important;
  left: -0.3cm;
  width: 40.5cm;
  height: 20cm;
  
 }

 img.headerwhite{
  position: absolute;
  width: 12cm;
  height: auto;
  top: -1cm;
  left: -1cm;
  
}

 .smallb{
   position: absolute;
   top: 5.4cm;
   left: 11cm;
   font-size: 97px;
   font-family: Rosarivo;
   color: #D8D3D3;
 }
 .butterfly{
  position: absolute;
  left: 12cm;
  top: 7.8cm;
  }

  .products{
    position: absolute;
    top: 30cm;
  }

  
  .productsbackground{
    position: absolute;
    top: 28cm;
    left: 0cm;
    width: 40.4cm;
    height: 30cm;
    background-color: #c2a593e0;
    /*border: 2px solid;*/
   
  }

  .product1::before{
    width: 360px;
     height: auto;
      position: absolute;
       left: 2cm;
        top: 2cm;
         border: 1px solid;
  }

  
  
  
  .textWithBlurredBg img{
    
    transition:.3s;
    border-radius:4px;
  }
  
  .textWithBlurredBg:hover img{
    filter:blur(0.8px) brightness(96%);
    box-shadow:0 0 16px rgba(34, 36, 36, 0.438);
    border: 1px solid black;

  }
   
  .textWithBlurredBg :not(img){
    position:absolute;
    z-index:1;
    top:40%;
    left: 23.6%;
    width:50%;
    text-align:center;
    color:rgb(0, 0, 0);
    opacity:0;
    transition:.3s;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    
   
  }

  .textWithBlurredBg:hover :not(img){
    opacity:1;
  }

























  